<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <section class="section">
        <h1><span class="content">ログイン</span></h1>

        <form method="POST" class="content form">
            <dl>
                <dt>ログインID</dt>
                <dd><input type="text" name="loginId" required></dd>
                <dt>パスワード</dt>
                <dd><input type="password" name="password" required></dd>
            </dl>
            <div class="btnWrap">
                <button type="submit" class="button">ログイン</button>
            </div>
        </form>
    </section>

</body>
</html>